
@{
    ViewData["Title"] = "Index";
}
<h1>Amministrazione</h1>

<ul>
    <li>@Html.ActionLink("Gestione gruppi di lavoro", "Index", "Gruppi")</li>
    <li>@Html.ActionLink("Gestione compiti", "Index", "Compiti")</li>
</ul>